{% extends 'bases/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-decoration-underline">{{ controller_name }} :</h1>
        </div>
    </div>
{% endblock %}
